.logo{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}
nav .logo{
    padding: 22px 20px;
    height: 0px;
    float: left;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    margin-left: -5vh;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 900px;
    margin-top: -20px;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform:uppercase;
}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;;
}
.bbody{
    background-image: url("./images/img1.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hi{
    margin: 0;
    border: 0;
    padding: 0;
    margin-top: 500px;
}