.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: #00aeff;
    height: 100vh;
}
.sub-main{
    display: flex;
    justify-content: center;
    height: 416px;
    width: 35%;
    padding-top: 30px;
    border-radius: 60px;
    background: url(/public/images/LoginFormBackGround.png);
}
.imgs{
    padding-top: 1px;
    justify-content: center;
    display: flex;
}
.container-image{
    
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
}
.BabyshotsLogo{
    height: 100px;
    width: 100px;
    border-radius: 130px;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #87CEFA;  
}
button{
    width: 380x;
    height: 50px;
    border-radius: 70px;
    background-color: lightskyblue;
    font-size: 25px;
    border: none;
}

